<header class="toolbar toolbar-header" ng-controller="ToolbarController as t">

  <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-large btn-default" ng-class="{ disabled: undoList.length == 0 }" onclick="console.log" ng-click="goBack()">
        <span class="icon icon-left"></span>
      </button>
      <button class="btn btn-large btn-default" ng-click="goUp()">
        <span class="icon icon-up"></span>
      </button>
      <button class="btn btn-large btn-default" ng-class="{ disabled: redoList.length == 0 }" ng-click="goForward()">
        <span class="icon icon-right"></span>
      </button>
    </div>

    <button class="btn btn-large btn-default">
      <span class="icon icon-folder"></span>
    </button>

    <div id="search-field" class="pull-right">
      <input type="text" class="form-control" placeholder="search">
    </div>
  </div>
</header>